<%= form_with(model: organizer, local: true) do |form| %>
  <% if organizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organizer.errors.count, "error") %> prohibited this organizer from being saved:</h2>

      <ul>
      <% organizer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :microcosm_id %>
    <%= collection_select(:organizer, :microcosm_id, Microcosm.all, :id, :name, :prompt => true) %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= collection_select(:organizer, :user_id, User.order('name').all, :id, :name, :prompt => true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
