<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Welcomed:</strong>
  <%= @user.welcomed %>
</p>

<p>
  <a class="mc-link-button" target="_blank" href="https://www.openstreetmap.org/user/<%= @user.name %>">OSM Profile</a>
  <a class="mc-link-button" target="_blank" href="http://www.hdyc.neis-one.org/?<%= @user.name %>">Contributions</a>
  <a class="mc-link-button" target="_blank" href="http://yosmhm.neis-one.org/?<%= @user.name %>">Heat Map</a>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
