<p id="notice"><%= notice %></p>

<%= map(:container_id => 'Map',
  :center => {
  :latlng => [51.52238797921441, -0.08366235665359283],
  :zoom => 18
}) %>
<h1>
  <%= @microcosm.name %>
</h1>

<p>
  <strong>Key:</strong> <%= @microcosm.key %>
</p>

<p>
  <strong>Members:</strong> <%= @microcosm.members_num %>
</p>

<p>
  <strong>Facebook:</strong> <a href="https://facebook.com/groups/<%=@microcosm.facebook%>">Facebook</a>
</p>

<p>
  <strong>Twitter:</strong> <a href="https://twitter.com/<%=@microcosm.twitter%>">Twitter</a>
</p>

<%= link_to 'Edit', edit_microcosm_path(@microcosm) %> |
<%= link_to 'Back', microcosms_path %>

<div id='Organizers'>
  <h2>Organizers</h2>
  <div class='organizers'>
    <% @microcosm.organizers.each do |organizer| %>
      <ul>
        <li><%= organizer.user.name %></li>
      </ul>
    <% end %>
  </div>
</div>
<%= link_to 'New', new_organizer_path(microcosm_id: 1) %>

<div id='Events'>
  <h2>Events</h2>
  <div class='events'>
    <% @microcosm.events.each do |event| %>
      <ul>
        <li><%= event.moment %> - <%= event.title %> - <%= event.location %></li>
      </ul>
    <% end %>
  </div>
</div>
<%= link_to 'New', new_event_path(microcosm_id: 1) %>

<div id='Members'>
  <h2>Members</h2>
  <div class='members'>
    <% @microcosm.members.each do |member| %>
      <ul>
        <li><%= member.user.name %></li>
      </ul>
    <% end %>
  </div>
</div>
<%= link_to 'New', new_member_path(microcosm_id: 1) %>
