<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @microcosm.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @microcosm.key %>
</p>

<p>
  <strong>Members num:</strong>
  <%= @microcosm.members_num %>
</p>

<%= link_to 'Edit', edit_microcosm_path(@microcosm) %> |
<%= link_to 'Back', microcosms_path %>
