<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @microcosm.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @microcosm.key %>
</p>

<p>
  <strong>Members num:</strong>
  <%= @microcosm.members_num %>
</p>

<%= link_to 'Edit', edit_microcosm_path(@microcosm) %> |
<%= link_to 'Back', microcosms_path %>

<div id='Organizers'>
  <h2>Organizers</h2>
  <div class='organizers'>
    <% @microcosm.organizers.each do |organizer| %>
      <tr>
        <td><%= organizer.user.name %></td>
      </tr>
    <% end %>
  </div>
</div>

<div id='Events'>
  <h2>Events</h2>
  <div class='events'>
    <% @microcosm.events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
      </tr>
    <% end %>
  </div>
</div>

<div id='Members'>
  <h2>Members</h2>
  <div class='members'>
    <% @microcosm.members.each do |member| %>
      <tr>
        <td><%= member.user.name %></td>
      </tr>
    <% end %>
  </div>
</div>
