<p id="notice"><%= notice %></p>

<div class='mc-row'>
<%= map(:container_id => 'Map',
  :center => {
  :latlng => [@microcosm.lat, @microcosm.lon],
  :zoom => 11
}) %>
  <div id='Details'>
    <h1>
<%= link_to @microcosm.name, @microcosm %>
    </h1>
    <p>
<%= auto_link @microcosm.description %>
    </p>
    <p>
<label>Organizers</label> <strong><%= link_to organizer_names, organizers_of_microcosm_path(@microcosm) %></strong>
    </p>
    <p>
<label>Members</label> <strong><%= @microcosm.members.size %></strong>
    </p>
    <% unless @microcosm.facebook.nil? and @microcosm.twitter.nil? %>
        <p>
<label>Share</label>
        <% unless @microcosm.facebook.nil? %>
<strong><a href="https://facebook.com/groups/<%=@microcosm.facebook%>">Facebook</a></strong>
        <% end %>
        <% unless @microcosm.twitter.nil? %>
<strong><a href="https://twitter.com/<%=@microcosm.twitter%>">Twitter</a></strong>
        <% end %>
        </p>
    <% end %>
    <p>
<%= link_to 'Changesets', changesets_of_microcosm_path(@microcosm) %>
    </p>
<%= link_to 'Edit', edit_microcosm_path(@microcosm) %>
  </div>
</div>

<div class='mc-row'>
  <div id='Members'>
    <h2>
Members <%= link_to 'New', new_member_path(microcosm_id: @microcosm.id), :class => 'new_link' %>
    </h2>
    <div class='members'>
      <% @microcosm.members.each do |member| %>
          <%= link_to member.user.name, user_path(member.user) %>
      <% end %>
    </div>
  </div>
  <div id='Events'>
    <h2>
Upcoming Events <%= link_to 'New', new_event_path(microcosm_id: @microcosm.id), :class => 'new_link' %>
    </h2>
    <div class='events'>
      <ul>
        <% @microcosm.events.each do |event| %>
          <li><%= event.moment %> - <%= event.title %> - <%= event.location %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
