<%= form_tag do %>

  <div class="field">
    <%= label_tag :to %>
    <%= text_field_tag :to, @editor.name, disabled: true %>
  </div>

  <div class="field">
    <%= label_tag :subject %>
    <%= text_field_tag :subject, @subject, disabled: true %>
  </div>

  <div class="field">
    <%= label_tag :body %>
    <%= text_area_tag :body, @welcome_message, disabled: true %>
  </div>

  <p>
<a href="https://www.openstreetmap.org/message/new/Skuwanja?<%= @qs %>" target="_blank">Send Message From OSM</a> ->
  </p>

  <div class="actions">
    <%= submit_tag 'Done' %>
  </div>

<% end %>
