<p id="notice"><%= notice %></p>

<p>
  <strong>Microcosm:</strong>
  <%= @microcosm_changeset.microcosm_id %>
</p>

<p>
  <strong>Changeset:</strong>
  <a href="https://openstreetmap.org/changeset/<%= @microcosm_changeset.changeset_id %>" target="_blank"><%= @microcosm_changeset.changeset_id %></a>
</p>

<p>
  <strong>Review num:</strong>
  <%= @microcosm_changeset.review_num %>
</p>

<p>
  <strong>User id:</strong>
  <%= @microcosm_changeset.user_id %>
</p>

<%= link_to 'Edit', edit_microcosm_changeset_path(@microcosm_changeset) %> |
<%= link_to 'Back', microcosm_changesets_path %>
