<!DOCTYPE html>
<html>
  <head>
    <title>MicroCosm</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='Auth'>
      <% if logged_in? %>
        Welcome <%= current_user.name %> | <%= link_to 'Sign out', signout_path %>
      <% else %>
        <%= link_to 'Sign in', sessions_new_path  %>
      <% end %>
    </div>
    <h1><%= link_to 'MicrocOSM', root_path  %></h1>

    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
