<!DOCTYPE html>
<html>
  <head>
    <title>MicrocosmApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      Welcome <% current_user.name %>
      <%= link_to 'Sign out', signout_path %>
    <% else %>
      <%= link_to 'Sign in with OSM', "/auth/osm"  %>
    <% end %>
    <%= yield %>
  </body>
</html>
