<!DOCTYPE html>
<html>
  <head>
    <title>MicrocosmApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'Microcosm', root_path  %></h1>

    <p class="alert"><%= alert %></p>
    <% if logged_in? %>
      Welcome <%= current_user.name %> | <%= link_to 'Sign out', signout_path %>
    <% else %>
      <%= link_to 'Sign in', sessions_new_path  %>
    <% end %>
    <%= yield %>
  </body>
</html>
