<!DOCTYPE html>
<html>
  <head>
    <title>MicrocosmApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'Microcosm', "/"  %></h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if logged_in? %>
      Welcome <%= current_user.name %> | <%= link_to 'Sign out', signout_path %>
    <% else %>
      <%= link_to 'Sign in', "/sessions/new"  %>
    <% end %>
    <%= yield %>
    <div id="Map"></div>
  </body>
</html>
